    <div style="text-align:center;font-family:Arial;">
      <h1>Test App</h1>
    </div>
    <div style="text-align:center;font-family:Arial;">
		<form action="app.php" method="POST">
		<div>
		  <input type="text" name="id" placeholder="id">
		</div>
		<div>
		  <input type="text" name="name" placeholder="name">
		</div>
		<div>
		  <input type="text" name="major" placeholder="major">
		</div>
		<div>
		  <input type="text" name="minor" placeholder="minor">
		</div>
		<div>
		  <input type="text" name="fix" placeholder="fix">
		</div>
		<div>
		  <input type="text" name="copyright" placeholder="copyright">
		</div>
		<div>
		  <input type="text" name="company" placeholder="company">
		</div>
		<div>
		  <input type="submit" value="Submit" class="btn">
		</div>
	</form>
	</div>
