<div style="text-align:center;font-family:Arial;">
    <h1>Test Device</h1>
</div>
<div style="text-align:center;font-family:Arial;">
    <form action="app.php" method="POST">
        <div>
            <input type="text" name="id" placeholder="id">
        </div>
        <div>
            <input type="text" name="identifier" placeholder="identifier">
        </div>
        <div>
            <input type="text" name="locale" placeholder="locale">
        </div>
        <div>
            <input type="text" name="token" placeholder="token">
        </div>
        <div>
            <input type="text" name="created" placeholder="created">
        </div>
        <div>
            <input type="text" name="modified" placeholder="modified">
        </div>
        <div>
            <input type="text" name="status" placeholder="status">
        </div>
        <div>
            <input type="submit" value="Submit" class="btn">
        </div>
    </form>
</div>
